<select name="areaId">
    @if(ViewData["Title"] != "Нове оголошення")
    { <option value="-1">Всі</option> }

    <option value="1">Київська обл.</option>
    <option value="2">Київ</option>
    <option value="3">Чернігівська обл.</option>
    <option value="4">Сумська обл.</option>
    <option value="5">Полтавська обл.</option>
    <option value="6">Черкаська обл.</option>
    <option value="7">Вінницька обл.</option>
    <option value="8">Житомирська обл.</option>
    <option value="9">Рівненська обл.</option>
    <option value="10">Волинська обл.</option>
    <option value="11">Львівська обл.</option>
    <option value="12">Закарпатська обл.</option>
    <option value="13">Івано-Франківська обл.</option>
    <option value="14">Чернівецька обл.</option>
    <option value="15">Тернопільська обл.</option>
    <option value="16">Хмельницька обл.</option>
    <option value="17">Черкаська обл.</option>
    <option value="18">Одеська обл.</option>
    <option value="19">Кировоградська обл.</option>
    <option value="20">Харківська обл.</option>
    <option value="21">Дніпровська обл.</option>
    <option value="22">Запорізька обл.</option>
    <option value="23">Херсонська обл.</option>
</select>