<select name="objtypeId">
    @if(ViewData["Title"] != "Нове оголошення")
    { <option value="-1">Всі</option> }

    <option value="1">Будинок</option>
    <option value="2">Квартира</option>
    <option value="3">Гараж</option>
    <option value="4">Дача</option>
    <option value="5">Комерційна нерухомість</option>
    <option value="6">Ділянка</option>
    <option value="7">Для ВПО</option>
</select>