<select name="state">
    @if(ViewData["Title"] != "Нове оголошення")
    { <option value="exist">Всі</option> }

    <option value="new">Нове</option>
    <option value="secondary">Вторинне</option>
</select>