<select name="operation_type">
    @if(ViewData["Title"] != "Нове оголошення")
    { <option value="-1">Всі</option> }

    <option value="1">@(ViewData["Title"].ToString() == "Нове оголошення" ? "Продаж" : "Купити")</option>
    <option value="2">@(ViewData["Title"].ToString() == "Нове оголошення" ? "Здача у оренду" : "Орендувати")</option>
</select>