@model HomeSearchViewModel
@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">Знайти доступне житло</h1>
</div>

<div class="">
    <form class="search-filter" asp-action="AppendFilter" asp-controller="Posts" method="post">

        @await Html.PartialAsync("~/Views/Partial/Filters/OperationTypePartial.cshtml")
        @await Html.PartialAsync("~/Views/Partial/Filters/BuildTypePartial.cshtml")
        @await Html.PartialAsync("~/Views/Partial/Filters/ItemStatePartial.cshtml")
        @await Html.PartialAsync("~/Views/Partial/Filters/AreaPartial.cshtml")

        <button type="submit"><p>Шукати</p></button>
    </form>
</div>

<script>
    $(document).ready(function () {
        document.querySelector('select[name="objtypeId"] option[value="1"]').selected = true;
        document.querySelector('select[name="operation_type"] option[value="1"]').selected = true;
        document.querySelector('select[name="state"] option[value="new"]').selected = true;
        document.querySelector('select[name="areaId"] option[value="1"]').selected = true;
    });
</script>