<div class="search-filter">
    <form>

        <select name="operation_type">
            <option value="1">Купити</option>
            <option value="2">Орендувати</option>
        </select>

        <select name="oparation_type">
            <option value="1">Будинок</option>
            <option value="2">Квартиру</option>
            <option value="3">Гараж</option>
            <option value="4">Дачу</option>
            <option value="5">Комерційну нерухомість</option>
            <option value="6">Ділянку</option>
        </select>

        <select name="item_type">
            <option value="all">Всі</option>
            <option value="new">Нове</option>
            <option value="secondary">Вторинне</option>
        </select>

        <select name="area">
            <option value="1">Київська обл.</option>
            <option value="2">Київ</option>
            <option value="3">Чернігівська обл.</option>
            <option value="4">Сумська обл.</option>
            <option value="5">Полтавська обл.</option>
            <option value="6">Черкаська обл.</option>
            <option value="7">Вінницька обл.</option>
            <option value="8">Житомирська обл.</option>
            <option value="9">Рівненська обл.</option>
            <option value="10">Волинська обл.</option>
            <option value="11">Львівська обл.</option>
            <option value="12">Закарпатська обл.</option>
            <option value="13">Івано-Франківська обл.</option>
            <option value="14">Чернівецька обл.</option>
            <option value="15">Тернопільська обл.</option>
            <option value="16">Хмельницька обл.</option>
            <option value="17">Черкаська обл.</option>
            <option value="18">Одеська обл.</option>
            <option value="19">Кировоградська обл.</option>
            <option value="20">Харківська обл.</option>
            <option value="21">Дніпровська обл.</option>
            <option value="22">Запорізька обл.</option>
            <option value="23">Херсонська обл.</option>
        </select>

        <button type="submit"><p>Шукати</p></button>
    </form>
</div>