<div class="search-filter">
    <form>
        <select name="oparation_type">
            <option>Купити будинок</option>
            <option>Купити квартиру</option>
            <option>Купити гараж</option>
            <option>Купити дачу</option>
            <option>Купити комерційну нерухомість</option>
            <option>Купити ділянку</option>
            <br />
            <option>Орендувати будинок</option>
            <option>Орендувати квартиру</option>
            <option>Орендувати гараж</option>
            <option>Орендувати дачу</option>
            <option>Орендувати комерційну нерухомість</option>
            <option>Орендувати ділянку</option>
        </select>

        <select name="item_type">
            <option>Всі</option>
            <option>Нове</option>
            <option>Вторинне</option>
        </select>

        <select name="area">
            <option>Київська обл.</option>
            <option>Київ</option>
            <option>Чернігівська обл.</option>
            <option>Сумська обл.</option>
            <option>Полтавська обл.</option>
            <option>Черкаська обл.</option>
            <option>Вінницька обл.</option>
            <option>Житомирська обл.</option>
            <option>Рівненська обл.</option>
            <option>Волинська обл.</option>
            <option>Львівська обл.</option>
            <option>Закарпатська обл.</option>
            <option>Івано-Франківська обл.</option>
            <option>Чернівецька обл.</option>
            <option>Тернопільська обл.</option>
            <option>Хмельницька обл.</option>
            <option>Черкаська обл.</option>
            <option>Одеська обл.</option>
            <option>Кировоградська обл.</option>
            <option>Харківська обл.</option>
            <option>Дніпровська обл.</option>
            <option>Запорізька обл.</option>
            <option>Херсонська обл.</option>
        </select>

        <button type="submit"><p>Шукати</p></button>
    </form>
</div>