.wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .wrapper h1 {
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 2px 2px 2px black;
    }

.filter {
    color: white;
    text-shadow: 2px 2px 2px black;
    min-width: 24%;
    width: 24%;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;
    box-shadow: rgba(0,0,0,.2) 5px 5px;
}

    .filter input {
        width: 95%;
        border-radius: 5px;
        background: rgba(199, 240, 239, .3);
        border: 2px solid rgb(156, 156, 156);
        font-size: large;
        margin-bottom: 5px;
    }
    .filter input::placeholder{
        color: rgba(0,0,0,.8);
    }

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 74%;
    width: 74%;
    height: 800px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 10px;
    box-shadow: rgba(0,0,0,.2) 5px 5px;
    max-height: 800px;
    overflow-y: scroll;
}

    .list .list-posts h3 {
        background: rgb(248, 248, 248);
        color: rgb(109, 109, 109);
        min-height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-self: center;
        border: 1px solid black;
        border-radius: 10px;
        cursor: default;
    }

    .list .list-posts {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

.single-post {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    box-sizing: border-box;
    box-shadow: rgba(0,0,0,.2) 2px 2px;
    height: max-content;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
    color: rgb(0,0,0);
    text-decoration: none;
    margin-bottom: 10px;
}

    .single-post:hover {
        background: rgba(255,255,255,.4);
        cursor: pointer;
        color: rgb(0,0,0);
        text-decoration: none;
    }

    .single-post .img-data {
        align-self: center;
        min-width: 10%;
        max-width: 30%;
        height: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        box-sizing: border-box;
    }

    .single-post img {
        width: auto;
        max-width: 95%;
        height: 100%;
    }

    .single-post .text-data {
        min-width: 70%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-x: hidden;
    }

    .single-post h6 {
        width: 100%;
        height: auto;
        word-wrap: break-word;
        font-weight: bold;
        text-align: right;
    }

    .single-post text {
    }

    .single-post p {
        text-align: right;
        vertical-align: bottom;
        font-weight: bold;
        text-decoration: underline;
        cursor: default;
    }

    .single-post .btn-block{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .single-post button {
        background: rgba(0,0,0,.2);
        border-radius: 20px;
        padding: 0;
        padding: 3px;
        box-sizing: border-box;
        text-align: center;
        width: 40%;
        cursor: default;
        height: max-content;
    }
    .single-post button:hover{
        background: rgba(0,0,0,.3);
        cursor: pointer;
    }
        .single-post button p {
            width: 100%;
            text-align: center;
            text-decoration: none;
            padding: 0;
            line-height: 100%;
            cursor: pointer;
        }

    .pages {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        vertical-align: central;
        height: 50px;
    }

    .pages .page-number {
        margin: 0 10px 0 10px;
        cursor: default;
        color: white;
        text-shadow: 1px 1px 0 black;
    }

    .pages button {
        width: 20%;
        max-height: 50px;
        background: transparent;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        background: rgba(255,255,255,.4);
    }

        .pages button:hover {
            background: rgb(0,0,0,.5);
            color: white;
        }

        .pages button p {
            min-height: 100%;
            margin: 0;
            padding: 0;
        }
