.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: larger;
}

    .auth-form input {
        text-align: center;
        border-radius: 10px;
        margin-bottom: 5px;
        height: 35px;
        background: rgba(199, 240, 239, .3);
    }

    .auth-form button {
        height: 40px;
        border-radius: 20px;
        background: rgba(66, 117, 116, .4);
    }

        .auth-form button p {
            margin: 0;
            padding: 0;
            font-weight: bold;
        }

    .auth-form a {
        margin-top: 20px;
        font-size: large;
        text-align: center;
        color: rgb(0, 255, 130);
        background: rgba(0,0,0,.25) center;
    }

.text-center {
    text-shadow: 1px 1px 1px white;
}
