html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url('/img/bg3.jpg') no-repeat;
    background-size: cover;
}

.wrapper {
    backdrop-filter: blur(10px);
    background: rgba(255,255,255, .25);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

body::before{
    
}

.body-container {
    margin: 0;
    padding: 0 5% 0 5%;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 5%;
}